.header {
    background-color: black;
}

.header-title {
    font-size: 48px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
    font-family: 'Roboto', sans-serif;
}
